<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GDWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04C834931DF6920C0059AD9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C834AC1DF6920C0059AD9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C834B71DF6920C0059AD9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
